.reviews {
    margin-top: 50px;

    hr {
      height: 0;
      border: 0.5px solid lightgray;
      margin: 50px 0px;
    }

    .product-review {
      text-align: left;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px; /* Align everything inside product-review to the left */

      .rating-container {

        .star {
          font-size: 30px;
          cursor: pointer;
          color: #ccc;
        }
        
        .star:hover,
        .star.active {
          color: #ffcc00;
        }
      }

      input {
        padding: 20px;
      }

      button {
        align-self: flex-start;
        width: 100px;
        border: none;
        padding: 10px;
        color: white;
        background-color: var(--blue-2);
        cursor: pointer;
      }
    }
    
    
    
    
  }